/* CSS Document */

.item-title{
	font-size: 25px;
	font-color:#000;
	font-weight: 600;
}
.title-bar2{
	margin-top: 58px;
	background-color: rgba(255,255,255,1.00);
	
	-webkit-box-shadow: 1px 13px 8px -11px rgba(0,0,0,0.21);
	-moz-box-shadow: 1px 13px 8px -11px rgba(0,0,0,0.21);
	box-shadow: 1px 13px 8px -11px rgba(0,0,0,0.21);
}
.item-button{
	border: 0.5px solid #D4D4D4;
	border-radius: 3px;
	font-size: 14px;
	color: #464646;
	padding: 3px 4px;
	margin-left: 5px;
/*
	
-webkit-box-shadow: 3px 4px 10px -4px rgba(0,0,0,0.4);
-moz-box-shadow: 3px 4px 10px -4px rgba(0,0,0,0.4);
box-shadow: 3px 4px 10px -4px rgba(0,0,0,0.4);
*/
}

.item-button-save{
/*	border: 0.5px solid #D4D4D4;*/
	border-radius: 4px;
	font-size: 14px;
	color: #FFFFFF!important;
	padding: 3px 4px;
	margin-left: 5px;
	background-color: rgba(0,140,255,1.00);
}
.item-button-save:hover{
	background-color: rgba(71,111,183,1.00);
	color: #FFFFFF!important;
	border-radius: 5px;
}
.item-button:hover{
	background-color: rgba(225,225,225,1.00);
	color: #292929!important;
}
.item-button, a{
	color: #464646!important;
}
.s-naveborder{
	border-bottom: 0.5px solid #E4E4E4;
}

.hover-icon:hover{
	color: #FFFFFF!important;
	font-size: .875rem;
    text-align: center;
    background: rgba(31,69,172,0.98);
/*    color: #fff;*/
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    width: 55px;
    height: 55px;
    line-height: 48px;
    border-radius: 50%;
    display: inline-block;
/*	padding: 10px;*/
}
.nav-li-hov:hover{
	background-color: rgba(252,165,251,0.46);
}
.sbar-icon{
	font-size: 20px;
}

/*Flow Chart*/

/* RESET STYLES & HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --level-1: #8dccad;
  --level-2: #f5cc7f;
  --level-3: #7b9fe0;
  --level-4: #f27c8d;
  --black: black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ol {
  list-style: none;
}

/*
body {
  margin: 50px 0 100px;
  text-align: center;
  font-family: "Inter", sans-serif;

}

.container {
  max-width: 1000px;
  padding: 0 10px;
  margin: 0 auto;
}*/

.rectangle {
  position: relative;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}


/* LEVEL-1 STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.level-1 {
  width: 50%;
  margin: 0 auto 40px;
  background: var(--level-1);
}

.level-1::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 20px;
  background: var(--black);
}


/* LEVEL-2 STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.level-2-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.level-2-wrapper::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 25%;
  width: 50%;
  height: 2px;
  background: var(--black);
}

.level-2-wrapper::after {
  display: none;
  content: "";
  position: absolute;
  left: -20px;
  bottom: -20px;
  width: calc(100% + 20px);
  height: 2px;
  background: var(--black);
}

.level-2-wrapper li {
  position: relative;
}

.level-2-wrapper > li::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 20px;
  background: var(--black);
}

.level-2 {
  width: 70%;
  margin: 0 auto 40px;
  background: var(--level-2);
}

.level-2::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 20px;
  background: var(--black);
}

.level-2::after {
  display: none;
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-100%, -50%);
  width: 20px;
  height: 2px;
  background: var(--black);
}


/* LEVEL-3 STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.level-3-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  width: 90%;
  margin: 0 auto;
}

.level-3-wrapper::before {
  content: "";
  position: absolute;
  top: -20px;
  left: calc(25% - 5px);
  width: calc(50% + 10px);
  height: 2px;
  background: var(--black);
}

.level-3-wrapper > li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 2px;
  height: 20px;
  background: var(--black);
}

.level-3 {
  margin-bottom: 20px;
  background: var(--level-3);
}


/* LEVEL-4 STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.level-4-wrapper {
  position: relative;
  width: 80%;
  margin-left: auto;
}

.level-4-wrapper::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  width: 2px;
  height: calc(100% + 20px);
  background: var(--black);
}

.level-4-wrapper li + li {
  margin-top: 20px;
}

.level-4 {
  font-weight: normal;
  background: var(--level-4);
}

.level-4::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-100%, -50%);
  width: 20px;
  height: 2px;
  background: var(--black);
}


/* MQ STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 700px) {
  .rectangle {
    padding: 20px 10px;
  }

  .level-1,
  .level-2 {
    width: 100%;
  }

  .level-1 {
    margin-bottom: 20px;
  }

  .level-1::before,
  .level-2-wrapper > li::before {
    display: none;
  }
  
  .level-2-wrapper,
  .level-2-wrapper::after,
  .level-2::after {
    display: block;
  }

  .level-2-wrapper {
    width: 90%;
    margin-left: 10%;
  }

  .level-2-wrapper::before {
    left: -20px;
    width: 2px;
    height: calc(100% + 40px);
  }

  .level-2-wrapper > li:not(:first-child) {
    margin-top: 50px;
  }
}


/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  position: fixed;
  right: 0;
  bottom: 20px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.page-footer a {
  margin-left: 4px;
}

@media screen and (min-width:992px){
	.menu-pad{
		margin-left: 50px;
	}
}